<!DOCTYPE html>
<html lang="id">
  <!-- Include bagian head -->
  <head>
    {% include 'components/head.html' %}
  </head>
  {% block styles %} {% endblock %}
  <body>
    <!-- Include navbar -->
    {% include 'components/navbar.html' %}
    <!-- Include error message -->
    {% include'components/error_message.html' %}
    <!-- Blok konten utama yang akan diisi oleh template turunan -->
    <main class="container-fluid mt-5">{% block content %} {% endblock %}</main>
    {% block scripts %}
    <script type="module" src="/static/js/navbar-controller.js"></script>
    {% endblock %}
  </body>
</html>
