
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{title}}{% endblock %}</title>
    
    <!-- CSS Default -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Blok untuk CSS tambahan dari template turunan -->
    
    
    <!-- Favicon -->
    <link rel="icon" href="{{url_for('static',filename='favicon.svg')}}" type="image/svg+xml">

    <!-- Bootstrap icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/navbar.css')}}">


